.languages {
  padding: 0;
}

.languages button {
  color: #282b3b;
  border: none;
}

.languages button:active {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.languages span[data-testid] {
  font-size: 1.5em;
}

.languages ul {
  border: 0;
  border-radius: 12px;
  padding: .5em 0;
  box-shadow: 0 15px 35px rgba(33, 34, 37, 0.08);
}

.languages li {
  color: #637282;
}

.languages li:hover {
  color: #282b3b;
}
